<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert to</title>
    <script src="../static/main.js" async></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="h-full">
    <form action="convertTo" method="post" enctype="multipart/form-data">
        <h1>Convert to</h1>
        <div class="main" id="file_div">
            <div class="drop-zone">
                <span class="drop-zone__prompt">Glisser votre fichier ici ou cliquer pour le charger</span>
                <input type="file" name="file" class="drop-zone__input" id="file">
            </div>
            <div class="selectFile" id="select_file_div">
                <div>
                    <label for="file">convertire</label>
                    <input name="file_type_origin" id="file_type_origin" class="fileExtension" value=""/>
                </div>
                <div>
                    <label for="file">en</label>
                    <select name="file_type_want" class="fileExtension">
                    </select>
                </div>
                <div id="download_file_div">
                    <a href="{{get_flashed_messages()[0]}}" id="download_file">telecharger</a>
                </div>
            </div>
        </div>
        <input type="submit" value="convertire" id="convert">
    </form>
</body>
</html>